/*
$primary:       #303242 !default;
$secondary:     #394359 !default;
$success:       #00c9b1 !default;
$info:          #009d96 !default;
$warning:       #ffbd69 !default;
$danger:        #da2d2d !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1250px
) !default;

$grid-gutter-width:           5px !default;

*/
